<!DOCTYPE html>
<head>
    <title>OpenAI Quickstart</title>
    <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='dog.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<script type="text/javascript">
    $("#ask").click(function () {
        var formData = $("#askForm").serialize();
        console.log(formData);
        alert(formData);
        $.ajax({
            url: "http://localhost:5000/ask",

            dataType: "json",
            type: "post",
            data: formData,

            success: function (result) {  //这里就是我出错的地方
                alert(result);
            },
            error: function (data) {
                alert("请求出错");
                alert(data);
            }
        });
    });
</script>

<body>
<img src="{{ url_for('static', filename='dog.png') }}" class="icon"/>
<h3>输入您的问题</h3>
<form id="askForm" action="/" method="post">
    <input type="text" name="animal" placeholder="输入您的问题" required/>
    <input id="ask" value="提问"/>
</form>
{% if result %}
    <div class="result">{{ result }}</div>
{% endif %}
</body>
