<!DOCTYPE html>
<head>
    <title>OpenAI Quickstart</title>
    <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='dog.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ajaxUrl = {
                server: 'http://chat.itpanda.club' //默认服务器地址
            };

            $("#ask").click(function () {
                var formData = $("#askForm").serialize();
                console.log(formData);
                $.ajax({
                    url: ajaxUrl.server + "/ask",
                    dataType: "json",
                    type: "post",
                    data: formData,

                    success: function (result) {  //这里就是我出错的地方
                        console.log("成功:" + result);
                        {#alert(result);#}
                        {#$("#result").innerText = ;#}
                        $("#result").html(result.choice[0].text);
                    },
                    error: function (data) {
                        console.log("失败:" + data);
                        {#alert("请求出错");#}
                        {#alert(data);#}
                        $("#result").html("error:" + data);
                    }
                });
            });
        });
    </script>
</head>

<body>
<img src="{{ url_for('static', filename='dog.png') }}" class="icon"/>
<h3>输入您的问题</h3>
<form id="askForm" action="/" method="post">
    <input type="text" name="animal" placeholder="输入您的问题" required/>
</form>
<button id="ask">提问</button>
<div id="result"></div>
</body>
